.bg{
  background-image: linear-gradient(#0f4499,#042459,#021636);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:Center;
  justify-content: center;
}
.postsh1{
  color:white;
  font-style: oblique;
  font-family:"Bree serif";
}
